{% extends "./base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-danger text-white">
                    <h3>404 - Sahifa Topilmadi</h3>
                </div>
                <div class="card-body">
                    <p class="lead">Kechirasiz, siz qidirgan sahifa mavjud emas yoki o'chirib yuborilgan.</p>
                    <a href="{% url 'store' %}" class="btn btn-primary">Bosh sahifaga qaytish</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
